body {
    font-family: Arial, sans-serif;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #FF00FF;
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}

.card.flipped {
    background-color: #121212;
    cursor: default;
}

.card.matched {
    background-color: #39FF14;
    cursor: default;
}

